<div class="banner">
</div>
  
<div class="container">
    <h2>Summertime is always in <strong>BLOOM</strong> </h2>
    <p> Helping you make informed cosmetic purchasing decisions</p>
    <div class="link-container" style="display: flex, justify-content: space-between">    
        <%= link_to "Search by product", products_path, class:"btn-primary" %>
        <%= link_to "Search by ingredient", ingredients_path, class:"btn-primary" %>
    </div>
</div>
